<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div>
        <form action="">
            <label for="fname">Số điện thoại:</label>
            <input type="text" id="sdt" name="sdt" /><br /><br />
            <label for="lname">Họ và tên:</label>
            <input type="text" id="hvt" name="hvt" /><br /><br />
            <input id="input" type="file" multiple>
            <div id="result"></div>
            <!-- <input type="file" id="input" multiple /> -->
            <input type="submit" onclick="javascript:callapi()" value="Submit" />
        </form>
    </div>
    <script type="text/javascript" language="javascript">
        function readFile() {
            debugger;

        }
        // async function toBase64(file) {
        //     const reader = new FileReader();
        //     await reader.readAsDataURL(file);
        //     reader.onload = await function () {
        //         console.log(reader.result);
        //         return reader.result
        //     }
        //     reader.onerror = error => {
        //         console.log(error);
        //         return error
        //     };
        // }
        // Dùng kiểu này không cần async, await
        const toBase64 = file => new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });
        document.getElementById('input').addEventListener('change', callapi, false);

        async function callapi() {
            debugger;
            const url = "http://localhost:3300/create_folder";
            hoten = document.getElementById("hvt").value;
            sdt = document.getElementById("sdt").value;
            image = document.querySelector('input[type="file"]');

            var files = document.getElementById("input").files;
            var myArray = [];
            var file = {};

            for (var i = 0; i < files.length; i++) {
                console.log(files[i], i);
                const file = files[i];
                let base64 = await toBase64(file)
                console.log(base64);
                //add the file obj to your array
                myArray.push(base64);
            }

            const parram = {
                name: hoten,
                phone: sdt,
                image: myArray,
            };

            console.log("parram ", parram);
            const opstion = {
                method: "POST",
                body: JSON.stringify(parram),
                headers: {
                    "Content-Type": "application/json",
                },
            };

            fetch(url, opstion)
                .then((res) => res.json())
                .then((res) => {
                    console.log("end");
                });

            const request = (url, parram, method = "POST") => {
                let options = {
                    method,
                };
                if ("POST" === method) {
                    url += "?" + new URLSearchParams(parram).toString();
                } else {
                    options.body = JSON.stringify(parram);
                }

                return fetch(url, options).then((response) => response.json());
            };

            const get = (url, parram) => request(url, parram, "GET");
            const post = (url, parram) => request(url, parram, "POST");
        }
    </script>
</body>

</html>